<div class="container">
    <h1>Todos los productos</h1>
    <div>
        {{#each allProducts}}
        <p>Title: {{this.title}} </p>
        <p>Description: {{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Thumbnail: {{this.thumbnail}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        {{/each}}
    </div>
</div>